In [1]:
import pandas as pd

In [10]:
INPUT_FILE = './top-1m.csv'
OUTPUT_FILE = './top-10k-preprocessed.csv'

In [8]:
df_input = pd.read_csv(INPUT_FILE, names=['index', 'url']).drop('index', axis=1)
df_input

                       url
0               google.com
1            microsoft.com
2             facebook.com
3            amazonaws.com
4         root-servers.net
...                    ...
999995            kspag.de
999996       yztianyou.com
999997   fitgirlrepacks.co
999998          roglebk.se
999999  verkehrsinfo-bw.de

[1000000 rows x 1 columns]

In [9]:
df_www = df_input.copy()
df_www = df_www.iloc[:10000]
df_www['url'] = 'https://www.' + df_www['url']
df_www

                           url
0               www.google.com
1            www.microsoft.com
2             www.facebook.com
3            www.amazonaws.com
4         www.root-servers.net
...                        ...
999995            www.kspag.de
999996       www.yztianyou.com
999997   www.fitgirlrepacks.co
999998          www.roglebk.se
999999  www.verkehrsinfo-bw.de

[1000000 rows x 1 columns]

In [11]:
df_www.to_csv(OUTPUT_FILE, index=False)